*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.produkti{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.produkti img{
    transition: 1s;
}
.produkti img:hover{
    width: 350px;
    height: 300px;
    transition: 1s;
    cursor: pointer;  
}
.produkti p{
    width: 30ch;
    text-align: center;
}
.showMore{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35ch;
    margin: 5px 0 0 0;
}
.showMore button{
    border: none;
    background-color: transparent;
    color: rgb(86, 170, 255);
    cursor: pointer;
    font-size: medium;
}
.showMore button:hover{
    opacity: 50%;
    transition: .5s;
}
.showLess button{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: medium;
    text-align: center;
    width: 100%;
}
.showLess button:hover{
    opacity: 50%;
    transition: .5s;
}
.dugmici{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.dugmici{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dugmici button{
    border: none;
    color: black;
    cursor: pointer;
    background-color: transparent;
    margin: 20px 0 100px 0;
}